
- is_embedded ||= false
.article
  %h1
    - if is_embedded
      %a(href="#{route_path(item)}" title="Full article" class="permalink")= item[:title]
    - else
      = item[:title]
  
  = render('_article_meta', :item => item)
  
  .body
    -# needed since some content render <pre> blocks
    -# warning: find_and_preserve should be done at the last moment
    -#          it is dependant upon the haml identation
    != find_and_preserve(content || partial(item))

